@charset "utf-8";
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 変数設定
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$kakugo:'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
$yumin  :"游明朝体", "Yu Mincho", YuMincho, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
$kozuka :"KozGoPro-Light", "小塚ゴシック Pro L", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ブレークポイント
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$breakpoints: (
	'xs': 'screen and (max-width: 414px)',
	'sm': 'screen and (max-width: 768px)',
	'md': 'screen and (max-width: 980px)',
	'lg': 'screen and (max-width: 1400px)',
) !default;

@mixin mq($breakpoint: md) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Width パーセント変換
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@function p($Inner,$Wrap){
	@return percentage($Inner / $Wrap);
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// テキスト縁
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@function shadowEdge($color,$size){
	$min:$size * -1;
	$max:$size;
	$shadow:'';
	$set:'';
	@for $i from $min through $max {
		@for $j from $min through $max {
		@if $i == $max and $j == $max {
				$set:#{$color} #{$i}px #{$j}px;
			} @else {
				$set:#{$color} #{$i}px #{$j}px #{','};
			}
			$shadow:#{$shadow} #{$set};
		}
	}
	@return $shadow;
}
