@charset "utf-8";
/*======================================================================
Layout
======================================================================*/
$w-sizes:1280,1200,1100,1000,900,800;
$sp-w-sizes:750,700,650,600,550,500,450,414,375,320;
html{
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	font-size: 62.5%;
	color:#333;
	//font-feature-settings : "palt";
	overflow: auto;
	//フォントサイズを画面幅で可変
	@each $w-size in $w-sizes{
		@media screen and (max-width: $w-size+px){
			font-size: percentage($w-size / (nth($w-sizes, 1) / 62.5 * 100));
		}
	}
}
body{
	color:#000;
}
img{
	max-width: 100%;
}
.table{
	display:table;
}
.table-row{
	display:table-row;
}
.table-cell{
	display:table-cell;
}